<h2>Post</h2>
<table class="table  table-hover">
<tr>
<th>Title</th>
<th>Body</th>
<th>Edit</th>
</tr>
<tbody><tr>
<td>{{title}}</td>
<td>{{body}}</td>
{{#if check_role}}
<td>{{#link-to 'edit_post' this }}Edit Post{{/link-to}}</td>
{{/if}}
</tr>
<tbody>
</table>
<p>
  {{#link-to 'posts'}}All Posts{{/link-to}}
</p>
<p></p>
