<h1>Sign Up</h1>
<form>
<label>Email</label>
{{input type="text" value=email name="email"}}
<label>Password</label>
{{input type="password" value=password name="password"}}
<label>Password Conf</label>
{{input type="password" value=password_confirmation name="password_confirmation"}}
<button {{action createUser}} > Join Us</buton>
</form>